<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montagem de PC</title>
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/png">
</head>
<body>

    <div class="container">
        <h1>Montar PC</h1>

        <form id="form">

            <input type="text" id="nome" placeholder="Nome do usuário" required>
            <input type="email" id="email" placeholder="Digite seu email" required>
            <input type="number" id="orcamento" placeholder="Orçamento (R$)">

            <select id="tipo" required>
                <option value="">Selecione o tipo</option>
                <option value="escritorio">Escritório</option>
                <option value="gamer">Gamer</option>
                <option value="edicao">Edição</option>
            </select>

            <hr>

            <h2>Escolha as peças</h2>

       
            <select id="cpu" required></select>
            <select id="mb" required></select>
            <select id="ram" required></select>
            <select id="gpu" required></select>
            <select id="sto" required></select>
            <select id="psu" required></select>
            <select id="gabinete" required></select>
            <select id="cooler" required ></select>

            <hr>

  
            <p id="total">Total: R$ 0</p>

            <button type="submit" id="salvar">Salvar</button>
            
        </form>

        <a href="index.html" class="btn-voltar">Voltar</a>

    </div>


    <script src="../assets/js/dados.js"></script>



    <script src="../assets/js/cadastro.js"></script>
    
</body>
</html>