<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/png">
    <title>Montagem de PC - Home</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div class="header">
        <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contatos.html">Contato</a></li>
            </ul>
        </nav>
    </div>

    <main class="main">
        <div class="container">
            <h1>🖥️ Sistema de Montagem de PC</h1>
            <p>Bem-vindo ao sistema! Aqui você pode montar seu próprio computador...</p>
            <nav>
                <a href="cadastro.html">➡️ Montar PC</a>
                <a href="lista.html">📋 Ver PCs cadastrados</a>
            </nav>
        </div>
    </main>

    <div class="footer">
         Todos os direitos reservados &copy; 2026
    </div>

    <script src="/assets/js/index.js"></script>
</body>
</html>