<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de PCs</title>
    <link rel="stylesheet" href="../assets/css/lista.css">
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/png">
</head>
<body>

    <div class="container">
        <h1>📋 PCs cadastrados</h1>

        <a href="index.html">⬅️ Voltar</a>

        <ul id="lista"></ul>
    </div>

    <script src="../assets/js/dados.js"></script>
    <script src="../assets/js/lista.js"></script>

</body>
</html>